.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.button {
  background: transparent;
  color: #fff;
  outline: none;
  padding: 0;
  opacity: 1;
  font-size: 0.9rem;
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  border-radius: 50%;
  font-weight: 800;
  transition-property: opacity, transform, background;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.button:active {
  animation: activation 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.button--hidden {
  opacity: 0;
  transform: translateY(100%) scale(0.8);
}

.button--visible {
  transform: translateY(0) scale(1);
}

.button--pre_active,
.button--active {
  background-color: rgba(0, 0, 0, 0.05);
}

@keyframes activation {
  0% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1.05) rotate(360deg);
  }
}

.mock,
.button--small {
  width: 2.2rem;
  height: 2.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.button--small > svg {
  width: 1.3rem;
  height: 1.3rem;
}

.button--small {
  border-radius: 50%;
  font-weight: bold;
  opacity: 1;
}

.button--small.button--hidden {
  transform: translateY(230%) scale(0.9);
}

.button--disabled {
  opacity: 0.5;
}
