.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  background: #514a9d;
}
